{% extends 'base.html'%}
{%block content%}
<div class="row">
    <form action="/signup" method="POST">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <p>{{error}}</p>
        </div>
        {% endif %}

        <div class="col-sm-6 form-group">
            <label>User Name</label>
            <input type="text" class="form-control" placeholder="User Name" name="username">
        </div>
        <div class="col-sm-6 form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Enter email" name="email">
        </div>
        <div class="col-sm-6 form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="col-sm-6 form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
        </div>
        <button type="submit" class="btn btn-info btn-sm">Submit</button>
    </form>
</div>
{%endblock%}