@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

.navbar {
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px;
    letter-spacing: 4px;
    opacity: 0.9;
}
.carousel-inner img{
    width: 100%;
    margin: auto;
}
.carousel-caption {
    background: rgba(0,0,0,0.5)
}
.carousel-caption h3{
    color: #fff;
}
body{
    font: 400 15px 'montserrat',sans-serif;
    color: #777;
}
h3,h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 5px;
    font-size: 20px;
    color: #111;
}
.img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:1200vh;
    height:700vh;
}
.account-img {
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  .cardquote{
      background-color:rgba(116, 116, 116, 0.786);
      padding: 3%;
  }
  #submit{
      background-color: #315B96;
  }